<div>
    <h2>
        <span>Games</span>
        <button class="btn btn-primary float-right jh-create-entity create-game" [routerLink]="['/', { outlets: { popup: ['game-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Game
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="games">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Probability Home</span></th>
            <th><span>Probability Away</span></th>
            <th><span>Sett</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let game of games ;trackBy: trackId">
                <td><a [routerLink]="['../game', game.id ]">{{game.id}}</a></td>
                <td>{{game.probabilityHome}}</td>
                <td>{{game.probabilityAway}}</td>
                <td>
                    <div *ngIf="game.settId">
                        <a [routerLink]="['../sett', game.settId  ]" >{{game.settId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../game', game.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
