<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGameLabel">Create or edit a Game</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!game.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="game.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_homeScore">Home Score</label>
            <input type="number" class="form-control" name="homeScore" id="field_homeScore"
                [(ngModel)]="game.homeScore" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_awayScore">Away Score</label>
            <input type="number" class="form-control" name="awayScore" id="field_awayScore"
                [(ngModel)]="game.awayScore" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_homeProbability">Home Probability</label>
            <input type="number" class="form-control" name="homeProbability" id="field_homeProbability"
                [(ngModel)]="game.homeProbability" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_awayProbability">Away Probability</label>
            <input type="number" class="form-control" name="awayProbability" id="field_awayProbability"
                [(ngModel)]="game.awayProbability" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_sett">Sett</label>
            <select class="form-control" id="field_sett" name="sett" [(ngModel)]="game.settId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="settOption.id" *ngFor="let settOption of setts; trackBy: trackSettById">{{settOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
